<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="search_form">
      <%= render partial: 'screener_search_form',
                 object: @search %>
    </div>

    <div class="span9">
      <div id="screener_flash_notice"></div>
      <div id="screeners">
        <%= render partial: "screeners" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $ = jQuery;

  $(function () {
    $("#screener_search_form").submit(function (form) {
      form.preventDefault();
      $.ajax({ url: '/screeners',
        type: 'get',
        success: function () {
          var screeners = " <%= escape_javascript(render("screeners")) %> ";
          $("#screeners").html(screeners);
        }
      });
    });
  });
</script>
