<table class="table table-hover" id="no-more-tables" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th>Programme Title</th>
    <th>(Chinese)</th>
    <th>Episode Title</th>
    <th>Episode Number</th>
    <th>Distributor</th>
    <th>Location</th>
    <th>Remarks</th>
    <th>Other</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody id="videoplaylist" class="sort-list" data-url="<%= sort_screener_playlist_path %>" style="cursor: move">
  <% @screener_playlist.screener_playlist_items_sorted.each.with_index do |item, index| %>
    <%= render partial: 'playlist_item', object: item, locals: {position: index + 1} %>
  <% end %>
  </tbody>
</table>
