<center>
    <strong>Add Master to Playlist</strong><br/>

    <div id="search_form">
      <%= render partial: 'video_master_search_form',
                 object: @search %>
    </div>
    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  class: 'transparent' %>

    <div id="item_added"></div>

    <div id="masters">
      <%= render partial: "masters" %>
    </div>
</center>
