var $ = jQuery;

var $element = $("#track-<%= @track.id %>");
var notice = "<%= escape_javascript(flash[:notice]) %>";

<% if @track_is_deleted %>
  $element.fadeOut("fast");
  $('#bootstrap-flash')
      .html('<div class="alert fade in alert-success">' +
          '<button class="close" data-dismiss="alert">×</button>' +
          'Successfully deleted playlist.' +
          '</div>');
<% else %>
  $('#bootstrap-flash')
      .html('<div class="alert fade in alert-success">' +
          '<button class="close" data-dismiss="alert">×</button>' +
          notice +
          '</div>');
<% end %>
