<%= render partial: 'layouts/track_header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'search_form',
                 object: @search %>
    </div>
    <!--/span-->
    <div class="span9" id="no-more-tables">
      <%= bootstrap_flash %>
      <%= render partial: "tracks" %>
    </div>
  </div>
  <!--/row-->
</div> <!-- /container -->
