<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="search_form">
      <%= render partial: 'movie_search_form',
                 object: @search %>
    </div>

    <div class="span9">
      <div id="movie_flash_notice"></div>
      <div id="movies">
        <%= render partial: "movies" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $ = jQuery;

  $(function () {
    $("#movie_search_form").submit(function (form) {
      form.preventDefault();
      $.ajax({ url: '/movies',
        type: 'get',
        success: function () {
          var movies = " <%= escape_javascript(render("movies")) %> ";
          $("#movies").html(movies);
        }
      });
    });
  });
</script>
