<center>
    <strong>Add Movie to Playlist</strong><br/>

    <div id="search_form">
      <%= render partial: 'movie_search_form',
                 object: @search %>
    </div>

    <div id="item_added"></div>

    <div id="movies">
      <%= render partial: "movies" %>
    </div>
</center>
