var $ = jQuery;

var $element = $("#movie_playlist-<%= @movie_playlist.id %>");

$element.fadeOut("fast");

$('#bootstrap-flash')
    .html('<div class="alert fade in alert-success">' +
        '<button class="close" data-dismiss="alert">×</button>' +
        'Successfully deleted playlist.' +
        '</div>');