<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="search_form">
      <%= render partial: 'album_search_form',
                 object: @search %>
    </div>

    <div class="span9">
      <div id="album_flash_notice"></div>
      <div id="albums">
        <%= render partial: "albums" %>
      </div>
    </div>
  </div>
</div>
