var $ = jQuery,
    $loader = $('.downloader-loader'),
    $message = $('.download-info .message'),
    $link = $('.download-info .download-link'),
    $flash = $('#bootstrap-flash');

$message.html("");

<% if @album_playlist.finished? %>
$flash.html("<div class='alert fade in alert-success'><button class='close' data-dismiss='alert'>×</button>Zip file created successfully.</div>");
$link.html("<%= j render(partial: 'download_link',
                                  locals: { album_playlist: @album_playlist }) %>");
$loader.fadeOut("fast");
<% end %>
