var $ = jQuery;

<% if controller_name == 'videos' %>
  $('#masters_list').html("<%= j render(partial: "/videos/masters",
                                        locals: { video_id: @master.video_id }) %>");
  $('#bootstrap-flash')
      .html('<div class="alert fade in alert-success">' +
          '<button class="close" data-dismiss="alert">×</button>' +
          'Successfully deleted master.' +
          '</div>');
<% else %>
  var $element = $("#master-<%= @master.id %>");

  $element.fadeOut("fast", function() {
    $('#bootstrap-flash')
        .html('<div class="alert fade in alert-success">' +
            '<button class="close" data-dismiss="alert">×</button>' +
            'Successfully deleted master.' +
            '</div>');
  });
<% end %>