var $ = jQuery;

$('#masters_list').html("<%= j render(partial: "/videos/masters",
                                      locals: { video_id: @master.video_id }) %>");
$('#master-<%= j "#{@duplicated_master.id}" %>').addClass('duplicate');

$('#bootstrap-flash')
    .html('<div class="alert fade in alert-success">' +
        '<button class="close" data-dismiss="alert">×</button>' +
        'Successfully duplicated master.' +
        '</div>');