var $ = jQuery;

<% if controller_name == 'videos' %>
$('#screeners_list').html("<%= j render(partial: "/videos/screeners",
                                          locals: { video_id: @screener.video_id }) %>");
$('#bootstrap-flash')
    .html('<div class="alert fade in alert-success">' +
        '<button class="close" data-dismiss="alert">×</button>' +
        'Successfully deleted screener.' +
        '</div>');
<% else %>
var $element = $("#screener-<%= @screener.id %>");

$element.fadeOut("fast", function () {
  $('#bootstrap-flash')
      .html('<div class="alert fade in alert-success">' +
          '<button class="close" data-dismiss="alert">×</button>' +
          'Successfully deleted screener.' +
          '</div>');
});
<% end %>