<%= minimal_form_for @user,
                     remote: controller.action_name == 'index' ? true : false,
                     html: {id: 'password_form'} do |f| %>

  <div class="controls controls-row">
    <%= f.input_field :password,
                      class: 'span12',
                      placeholder: 'Password' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :password_confirmation,
                      class: 'span12',
                      placeholder: 'Password Confirmation' %>
  </div>

  <%= f.submit 'Update password',
               class: 'btn' %>

<% end %>
