var $ = jQuery

var content = "<%= escape_javascript(render(partial: "video",
                                            object: @video)) %>";

var $video = $("#video-<%= @video.id %>");
$video.replaceWith(content);

$('#bootstrap-flash')
    .html('<div class="alert fade in alert-success">' +
        '<button class="close" data-dismiss="alert">×</button>' +
        'Video has been restored' +
        '</div>');