<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="search_form">
      <%= render partial: 'track_search_form',
                 object: @search %>
    </div>

    <div class="span9">
      <div id="track_flash_notice"></div>
      <div id="tracks">
        <%= render partial: "tracks" %>
      </div>
    </div>
  </div>
</div>
