<table class="table table-hover" id="no-more-tables" width="100%">
  <thead>
  <tr>
    <% @columns.each.with_index do |column, index| %>
      <th <%= raw("style='display: none'") if session[:audio_playlist_checked].present? && session[:audio_playlist_checked][index] == 'false' %>>
        <%= column %>
      </th>
    <% end %>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <% @accum_duration = 0 %>
  <tbody id="audioplaylist" class="sort-list" data-url="<%= sort_audio_playlist_path %>" style="cursor: move">
  <% @audio_playlist.audio_playlist_tracks_sorted.each.with_index do |track, index| %>
    <%= render partial: 'playlist_track', object: track, locals: {position: index + 1} %>
  <% end %>
  </tbody>
</table>
