<table class="table table-hover" id="no-more-tables" width="100%">
  <thead>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Intro Tempo</th>
    <th>Composer</th>
    <th>Label</th>
    <th>Track Title(Translated)</th>
    <th>Tempo</th>
    <th>Track Num</th>
    <th>Origin</th>
    <th>Artist</th>
    <th>Outro Tempo</th>
    <th>Duration</th>
    <th>CD Code</th>
    <th>Mastering</th>
    <th>Split</th>
    <th>VO Duration (sec)</th>
    <th>Genre</th>
    <th>Accumulated Duration</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <% @accum_duration = 0 %>
  <tbody id="audioplaylist" class="sort-list" data-url="<%= sort_audio_playlist_path %>" style="cursor: move">
  <% @audio_playlist.audio_playlist_tracks_sorted.each.with_index do |track, index| %>
    <%= render partial: 'playlist_track', object: track, locals: {position: index + 1} %>
  <% end %>
  </tbody>
</table>
