<%= render partial: 'header' %>

<div class="container">

  <div class="row">
    <div class="span12">
      <div id="bootstrap-flash">
        <%= bootstrap_flash %>
      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <div class="row">

    <%= render partial: 'form' %>

    <div class="span3">
    </div>
    <!--/span-->
  </div>
  <!--/row-->

</div>
<!--/container-->


