<table class="table table-hover" id="no-more-tables" width="100%">
  <thead>
    <tr>
      <th>#</th>
      <th>Programme Title</th>
      <th>(Foreign)</th>
      <th>(Chinese)</th>
      <th width="62px">Run-time</th>
      <th>On-going</th>
      <th>Lang Tracks</th>
      <th>Lang Subs</th>
      <th>Distributor</th>
      <th>Available Episodes</th>
      <th>Genres</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody id="videoplaylist" class="sort-list" data-url="<%= sort_video_playlist_path %>" style="cursor: move">
    <% @video_playlist.video_playlist_items_sorted.each.with_index do |item, index| %>
      <%= render partial: 'playlist_item', object: item, locals: {position: index + 1} %>
    <% end %>
  </tbody>
</table>
